

.personal-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin: auto;
    background-color: rgb(233, 224, 224);
    border: none;
    border-radius: 10px;
    padding: 20px;
}

.persona-details h5 {

    margin: -5px;
    padding: 0;
}

.image-setup {
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;

}

.image-setup img {
    height: 15%;
    width: 15%;
    border: none;
    border-radius: 50%;
    text-align: center;
    align-items: center;
}

.Exercise-time {
    width: 80%;
    margin: auto;
    margin-top: 5px;
    background-color: rgb(233, 224, 224);
    border: none;
    border-radius: 10px;
    padding: 15px;
    text-align: left;
}

.button {
    border: none;
    border-radius: 50%;
    background-color: white;
    color: black;
}

.breaking-time {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 80%;
    margin: auto;
}

.time-single {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}