.blog-section {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    text-align: left;
    border: 2px solid skyblue;
    border-radius: 15px;
    background-color: darkslategray;
    color: white;
}